.login-form {
    position:absolute;
    width:350px;
    top:50%;
    right:0;
    left:50%;
    margin: -150px 0 0 -150px;
}

#inpt_username {
    width: 150px;
}

#inpt_password {
    width: 150px;
}

#btn_login {
    display: block; 
    margin: 0 auto;
}

#errorText {
    text-align: center;
    display: block !important;
}

#qrCodeCanvas {
    margin-left: 50px;
}

#loginHeader{
    color: white;
    text-align: center;
    margin-left: -50px;
}