.login-form {
    position:absolute;
    width:350px;
    top:50%;
    right:0;
    left:50%;
    margin: -150px 0 0 -150px;
}

#inpt_username {
    width: 150px;
}

#inpt_password {
    width: 150px;
}

#logo {
    max-width: 300px;
    margin-top: -160px;
    margin-bottom: 80px;
}

#btn_login {
    display: block; 
    margin: 0 auto;
}

#errorText {
    text-align: center;
    display: block !important;
    margin-left: -25px
}

#qrCodeCanvas {
    margin-left: 50px;
}

#loginHeader{
    color: white;
    text-align: center;
    margin-left: -50px;
}

.page-container { 
    background-color: #2c3e50 !important;
}