<div class="page-container">
    <div class="login-form">
        <img id="logo" src="assets/images/cmeetLogo.png">
        <h4 id="loginHeader">Scan this barcode to login using DeeID</h4>
        <!-- <input type="text" id="inpt_username" class="form-control"  placeholder="username" [(ngModel)]="staffId"> <br/> -->
        <!-- <input type="password" id="inpt_password" class="form-control" type="text" id="password_input"  placeholder="password"> <br/> -->
        <canvas id="qrCodeCanvas"></canvas>
        <label *ngIf="error" id="errorText" class="invalid-feedback">{{errorString}}</label>
        <!-- <button (click)="login()" type="button" id="btn_login" class="btn btn-success">Login</button> -->
    </div>
</div>