
<div>
  <h1 id = "welcome_title" >Welcome {{staff.name}}!</h1>
  <div>
    <button type="button" id="btn_new_meeting" class="btn btn-primary">New meeting</button>
  </div>
  <h3 id = "welcome_title" >Upcoming Meeting</h3>
  
  <app-meeting-card *ngFor="let meeting of upcomingMeetings" (onStart) = "startMeeting($event)" (onEdit) = "viewMeeting($event)" [meeting] = meeting></app-meeting-card>

  <h3 id = "welcome_title" >Previous Meeting</h3>
  <app-meeting-card *ngFor="let meeting of pastMeetings" (onView) = "viewMeeting($event)" [readOnly] = "true" [meeting] = meeting></app-meeting-card>
</div>
