<div class="page-container">
  <app-header></app-header>
  <div class="container">
    
    <h3 id = "welcomeTitle" >Welcome {{staff.name}}!</h3>
    <div>
      <button (click)="newMeetingClicked()" type="button" id="btnNewMeeting" class="btn btn-primary">+ New meeting</button>
    </div>

    <h4 id = "upcomingMeetingTitle" >Upcoming Meetings</h4>
    <hr>
    <app-meeting-card *ngFor="let meeting of upcomingMeetings" (onStart) = "startMeeting($event)" (onJoin)="joinMeeting($event)" (onEdit) = "viewMeeting($event)" [meeting] = meeting></app-meeting-card>

    <h4 id = "previousMeetingTitle" >Previous Meetings</h4>
    <hr>
    <app-meeting-card *ngFor="let meeting of pastMeetings" (onView) = "viewMeeting($event)" [historic] = "true" [meeting] = meeting></app-meeting-card>
  </div>
</div>
