<div class="card" [ngClass]="{'card-slim bg-light mb-3': slim, 'card-popup bg-light mb-3': popup}">
  <div class="card-body">

    <p *ngIf="!popup && referenceEvent" class="link-ref-text">
      <a class = "card-link" href="javascript:void(0)"  (mouseenter) ="showRefLinkPopup = true"  (mouseleave) ="showRefLinkPopup = false">
         {{refLinkTitle}}</a>
    </p>
    <div *ngIf="showRefLinkPopup" class="popup">
      <app-event-card [popup]="true" [eventId]="event.refEvent" ></app-event-card>
    </div>

    <img src="{{avatar}}" [ngClass]="{'avatar': !slim, 'avatar-slim': slim}">
    <h5 [ngClass]="{'card-text': !slim, 'card-text-slim': slim}">{{title}}</h5>
    <div *ngIf="!popup" [ngClass]="{'card-actions': !slim, 'card-actions-slim': slim}">
      <a (click)="disagreeClicked()" href="javascript:void(0)" id="disagreeBtn" class="card-link">Disagree</a>
      <a (click)="btnTwoClicked()" *ngIf="buttonTwo" id="btn2" href="javascript:void(0)" class="btn btn-danger">{{buttonTwoTitle}}</a>
      <a (click)="btnOneClicked()" *ngIf="button" id="btn1" href="javascript:void(0)" class="btn btn-primary">{{buttonTitle}}</a>
    </div>
  </div>
</div>