<h2>Create a Meeting</h2>
<div >
  <label>Meeting title</label>
  <input type="text" class="form-control" id="titleInput" (input) = "meeting.title = $event.target.value" placeholder="Meeting Title" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

  <label>Description</label>
  <input type="text" class="form-control" id="descriptionInput" (input) = "meeting.description = $event.target.value" placeholder="Meeting description" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
  
  <label>Meeting Date/Time</label>
  <input [owlDateTime]="dt" [owlDateTimeTrigger]="dt" [(ngModel)] = "meeting.date">
  <owl-date-time #dt></owl-date-time>
  <div  (click) = "patientBtnClicked()" class="card text-white bg-primary" style="max-width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">Add Patients <span *ngIf="meeting.patients.length > 0"> &nbsp;&nbsp;({{meeting.patients.length}} added)</span> </h4>
    </div>
  </div>
  <ngx-smart-modal id="patientAddModal" [customClass]="'wide-modal'"  #patientAddModal identifier="patientAddModal">
    <h1>Select Patients</h1>
    <app-list-filter-select (done) = "patientAddDone($event)" [doneButtonTitle] = "'Add Patients'" [settings] = "patientModalSettings" [data]="patientList"></app-list-filter-select>
    <button class="btn btn-secondary" (click)="patientAddModal.close()">Close</button>
  </ngx-smart-modal>


  <div (click) = "staffBtnClicked()" class="card text-white bg-success" style="max-width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">Add Staff <span *ngIf="meeting.staff.length > 0"> &nbsp;&nbsp;({{meeting.staff.length}} added)</span></h4>
    </div>
  </div>
  <ngx-smart-modal id="staffAddModal" [customClass]="'wide-modal'"  #staffAddModal identifier="staffAddModal">
    <h1>Select Staff</h1>
    <app-list-filter-select (done) = "staffAddDone($event)" [title] = "'Select Staff'" [doneButtonTitle] = "'Add Staff'" [settings] = "staffModalSettings" [data]="staffList"  ></app-list-filter-select>
    <button class="btn btn-secondary" (click)="staffAddModal.close()">Close</button>
  </ngx-smart-modal>
  
  <button type="button" id="btn_new_meeting" class="btn btn-primary" (click)="createButtonClicked()">Create</button>
  
</div>