.Blink {
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }
@keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
}

#eventStream {
  width:auto;
  overflow-y: auto;
  height: 75vh;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
}

#patientCards {
  width:auto;
  overflow-y: auto;
  height: 32vh;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
}

#staffCards {
  width:auto;
  overflow-y: auto;
  height: 30vh;
  padding: 10px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.46);
}

#blinkerLable {
  margin-top: 10px;
}

#meetingTitleLable {
  margin-top: 20px;
  text-align: center;
}

#meetingDescriptionLable {
  margin-top: 5px;
  text-align: center;
}

#otp {
  font-size: 2.5em;
}

#otpValue {
  color: #18bc9c
}

.title-strip {
  height: 11vh;
}

.leave-btn {
  /* float: right; */
}

.otp-col{
  text-align: right;
}

#eventsPanel {
  z-index: 50;
}